$moderateviolet: hsl(263, 55%, 52%);
$vrdarkgryblue: hsl(217, 19%, 35%);
$vrdarkblkblue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$lightgray: hsl(0, 0%, 81%);
$lightgryblue: hsl(210, 46%, 95%);
$shadowvrdarkgryblue: hsla(217, 19%, 35%, 15%);